:root{
  --brdr: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.main{
  height: 45rem;
  width: 100%;
}


.light-theme{
  --color: #000000;
  --bg-color: #ffffff;
  --search-focused: #eeeeee;
}

.dark-theme{
  --color: #ffffff;
  --bg-color: #000000;
  --search-focused: #424141;
}

.App{
  background-color: var(--bg-color);
  color: var(--color);
  transition: all 0.5s ease-in;
}

/* <ThemeToggle/> */

.theme-toggle-container{
  position: fixed;
  top: 2rem;
  right: 2rem;
}

    .circle-container{
      position: relative;
      height: 24px;
      width: 50px;
      /* border: 3px solid black; */
      background: #340350;
      border-radius: 20px;
      cursor: pointer;
    }

      .label-toggle .circle{
        position: absolute;
        top: 4px;
        left: 6px;
        margin: auto 2px;
        display: inline-block;
        height: 14.8px;
        width: 14.8px;
        border-radius: 50%;
        background: #f5b731;
        transition: all 0.5s;
      }

      .label-toggle .circle.toggled {
        left: 24px;
        background: #ffffff;
      }

  #toggle-theme-btn{
    display: none;
  }

/* <Navbar/>  */

  .navbar{
    height: 5.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem 4rem;
  }

    .search-bar{
      position: relative;
      width: 36rem;
      height: 1.8rem;
      margin-left: -5px;
    }
      .search-bar svg{
        height: 19px;
        width: 19px;
        position: absolute;
        top: 0.3rem;
        left: 0.9rem;
        z-index: 1;
      }

      .search{
        height: 1.8rem;
        width: 100%;
        position: absolute;
        top: 0%;
        padding-left: 2.9rem;
        border: none;
        background-color: var(--bg-color);
        color: var(--color);
        transition: background-color 0.5s;
      }

      .search::placeholder{
        font: 17px arial;
      }

      .search:focus{
        outline-width: 0;
        background-color: var(--search-focused);
        border-radius: 6px;
      }

    .Notes{
      font-size: 2rem;
    }


  /* <AddTaskWindow /> */
  .add-task-window{
    display: grid;
    background: #ffffff;
    height: 30rem;
    width: 40rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 3px #0000004f;
    margin-left: 10rem;
  }
  
    .form-add-task{
      height: 22rem;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
      padding: 1.5rem 2rem;
      margin-top: -3rem;
    }

    .form-header{
      margin-left: 2rem;
    }

    .text-area textarea, .task-date{
      border-radius: 8px;
    }

    .task-date-container label, .text-area label{
      font-size: 1rem;
    }
      .task-date-container{
        grid-row: 1/2;
        grid-column: 1/2;
      }

        .task-date-container input{
          margin-top: 5px;
        }

        .task-date-container input::placeholder{
          font: 17px arial;
        }

      .text-area{
        grid-row: 2/3;
        margin-top: 1.5rem;
      }

        .text-area textarea{
          margin-top: 5px;
          font: 15px arial;
          padding: 8px 8px;
          resize: none;
        }

        .text-area textarea:focus{
          outline: none;
        }

      .form-submit-btn, .form-cancel-btn{
        height: 2rem;
        width: 6rem;
        cursor: pointer;
        justify-self: right;
        border-radius: 20px;
      }

      .form-cancel-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.9rem 7rem;
        padding: -8px;
        border: 2px solid #000000;
        background: none;
        color: #000000;
        text-decoration: none;
      }

      .form-submit-btn{
        margin-top: -3.9rem;
        color: #ffffff;
        border: none;
        background: #000000;
      }

      


  /* <AddTask */
  .add-task{
    text-decoration: none;
    position: fixed;
    bottom: 2.3rem;
    right: 2.3rem;
    font: 2.6rem arial;
    color: var(--bg-color);
    background-color: var(--color);
    border: none;
    border-radius: 50%;
    padding: 0.3rem 1rem;
    cursor: pointer;
    outline: none;
    transition: all 0.5s;
  }
    

  /* <Task /> */
  .task-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;
    width: 80%;
    padding: 2rem;
    margin-left: 3rem;
  }

    .task-card{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 3fr 1fr;
      background-color: #7876eb;
      height: 11.2rem;
      width: 11.2rem;
      padding: 0.5rem;
      border-radius: 0.7rem;
      box-shadow: 3px 3px 5px #00000038;
      color: #000000
    }

      .task-body{
        grid-column: 1/3;
        grid-row: 1/4;
        overflow: hidden;
      }

      .task-date{
        grid-column: 1/1.5;
        grid-row: 5/5;
        height: auto;
        width: 7rem;
      }

      .delete-btn{
        height: 2.1rem;
        width: 2rem;
        padding: 5px;
        margin: 0.8rem 0.4rem 0 0;
        background: #ffffff;
        border: none;
        border-radius: 50%;
        grid-row: 5/5;
        cursor: pointer;
      }

        .delete-btn img{
          height: 88%;
          width: 88%;
        }