:root{
  --brdr: 1px solid black;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.main{
  border: var(--brdr);
  height: 45rem;
  width: 100%;
}

  .navbar{
    height: 5.5rem;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 2rem 4rem;
  }

    .search-bar{
      position: relative;
      width: 36rem;
      height: 1.8rem;
      margin-left: -5px;
    }
      .search-bar img{
        height: 17px;
        width: 17px;
        position: absolute;
        top: 0.4rem;
        left: 0.9rem;
        z-index: 1;
      }

      .search{
        height: 1.8rem;
        width: 100%;
        position: absolute;
        top: 0%;
        padding-left: 2.8rem;
        border: none;
      }

      .search::placeholder{
        font: 17px arial;
      }

      .search:focus{
        outline-width: 0;
        background-color: #fafafa;
        border-radius: 6px;
      }

    .Notes{
      font-size: 2rem;
    }
    

